@model TodoApplication.Models.TodoViewModels.AddLabelViewModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add new Label</h1>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Value"></label>
        <input class="form-control" asp-for="Value"/>
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>

    <div>
        <input type="submit" class="btn btn-info" value="Add"/>
    </div>
</form>

<a asp-action="Index">Back</a>

