@model TodoApplication.Models.TodoViewModels.AddTodoViewModel

<h1>Add new Todo</h1>
<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Text"></label>
        <input class="form-control" asp-for="Text" />
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateDue"></label>
        <input class="form-control" asp-for="DateDue" />
        <span asp-validation-for="DateDue" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Labels"></label>
        <select multiple class="form-control" asp-for="Labels" asp-items="@ViewBag.Labels"></select>
    </div>
    <div>
        <input type="submit" class="btn btn-info" value="Add" />
    </div>
</form>
<a asp-action="Index">Back</a>